.botones{
    display: block;
    text-align: center;
    background-color: #ffffff;
    flex-grow: 1;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: .75rem;
    font-weight: 400;
    border: 0;
    padding: 0.125rem 0.625rem;
    border-radius: 30px;
    width: 100px;
    margin-top: 0.25rem;
    cursor: pointer;
}

.botones-grandes{
    padding: 0rem, .1rem;
    width: 150px;
}

body{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    display: flex;
    height: 100vh;
}

h1{
    font-weight: 300;
    font-size: 2rem;
}

#main-container{
    display: flex;
    width: 100%;
}

.scene-container{
    height: auto;
}

#GoBack{
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 10;
}

#RotacionExoplaneta{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
}

#globeViz{
    flex: 1;
    height: 100%;
    position: relative;
}

#nav{
    padding-left: 20px;
    padding-right: 10px;
    height: 100vh;
}

.nav{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 15;
    background-color: rgba(86, 86, 86, 0.356);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-title{
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
}

.list__show{
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    list-style-type: none;
}

.list__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

list__img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav__link{
    text-decoration: none;
    color: #ffffff;
    flex-grow: 1;
}

.list__button{
    color: #ffffff;
    transition: transform 0.3s ease;
    margin-right: 5px;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__inside{
    padding: 10px;
    list-style-type: none;
}

.nav__link--inside{
    font-size: 14px;
}