
@font-face {
    font-family: 'NASA';
    src: url('/ExoPlanetas Build/fonts/NASA.ttf') format('truetype'); /* Cambia el nombre del archivo según sea necesario */
    font-weight: normal;
    font-style: normal;
  }



#AutorRotate {
    font-size: 16px;
    cursor: pointer;
}
#GoBack{
    position:absolute;
    top: 20px;
    left: 40px;
    z-index: 10;
}


#RotacionExoplaneta {
    position:absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
}


#globeViz{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
}

.nav {
    position: absolute;
    top: 145px;
    left: 20px;
    z-index: 15;
    background-color: rgba(86, 86, 86, 0.356); /* Fondo blanco con 80% de transparencia */
    padding: 25px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    width: 250px;
    z-index: 10; /* Ajusta el tamaño según lo necesites */
}

.menu-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px; /* Espacio entre el título y la lista */
    color: #ffffff;
}

.list {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el padding de la lista */
}

.list__show {
    background-color: rgba(0, 0, 0, 0.027); /* Aplicando transparencia también a los submenús */
    overflow: hidden;
    height: 0; /* Iniciar en cerrado */
    transition: height 0.3s ease; /* Transición suave al abrir/cerrar */
}

.list__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.list__img {
    width: 20px;  /* Ajusta el tamaño de la imagen aquí */
    height: 20px; /* Ajusta el tamaño de la imagen aquí */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}


.nav__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    flex-grow: 1; /* Para que el enlace ocupe el espacio disponible */
}

.list__arrow {
    transition: transform 0.3s ease;
}

.arrow .list__arrow {
    transform: rotate(90deg); /* Rotación de la flecha cuando se expande */
}

.list__inside {
    padding: 10px;
    list-style-type: none; /* Eliminar los puntos de la lista dentro de los submenús */
}

.nav__link--inside {
    font-size: 14px;
}
